# IDE/editor configuration files
.vscode/
.idea/
.DS_Store

# Virtual environment directory
venv/
venv

# Custom configuration file
config/config_custom.yml
config_custom.yml

# Unneeded Python files
__pycache__/
*.pyc

# ADCS TLE backup file
backup_tle.txt


