[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pysmbus = "*"
smbus2 = "==0.2.1"
PyYAML = "==5.1"
pyserial = "*"
pymap3d = "*"
orbitalpy = "*"
pyorbital = "*"

[requires]
python_version = "3.7"
