[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pynmea2 = "==1.12.0"
pysmbus = "*"
smbus2 = "==0.2.1"
PyYAML = "==3.13"
pyserial = "*"
numpy = "*"
pymap3d = "*"
orbitalpy = "*"
pyorbital = "*"

[requires]
python_version = "3.7"
