astropy==3.2.3
autopep8==1.4.4
certifi==2019.9.11
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.4
OrbitalPy==0.7.0
pipenv==2018.11.26
pycodestyle==2.5.0
pymap3d==2.1.0
pyorbital==1.5.0
pyparsing==2.4.5
pyserial==3.4
pysmbus
python-dateutil==2.8.1
PyYAML==5.1.2
Represent==1.6.0
scipy==1.3.2
sgp4==1.4
six==1.13.0
smbus2==0.3.0
virtualenv==16.7.7
virtualenv-clone==0.5.3
