core:
    modules:
        - aprs
        - command_ingest
        - gps
        - adcs
    log_dir: logs
aprs:
    #s1
    serial_port: /dev/ttyUSB0
    telem_timeout: 70
    message_spacing: 1
gps:
    #s3
    serial_port: /dev/ttyUSB1
#telemetry:
#    data_functions:
#        - aprs.get_voltage
#        - aprs.get_number-of_packeut
adcs:
    sc:
        - inertia
        - jd0
    KOE:
        - sma = 6778557
        - ecc = 0.0001973
        - incl = 51.6397*pi/180
        - argp = 211.4532*pi/180
        - tran = 0*pi/180
